# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Outputs
outputs/*.parquet
outputs/*.xlsx
outputs/*.csv

# Secrets
.env
